{% extends 'base.html' %}
{% block content %}
<script>
  function increaseQuantity()
  {
      var value = parseInt(document.getElementById('quantity').value, 10);
      value = isNaN(value) ? 0 : value;
      value++;
      document.getElementById('quantity').value = value;
  }
  function decreaseQuantity()
  {
      var value = parseInt(document.getElementById('quantity').value, 10);
      value = isNaN(value) ? 0 : value;
      value--;
      document.getElementById('quantity').value = value;
  }
</script>
    <!--Main layout-->
  <main class="pt-4 mb-0 main">
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4 ">
          <img src="{{ object.image.url }}" class="mt-4 ml-5 detail-image" alt="">
        </div>
        <div class="col-md-6 mb-4 information">
          <!--Content-->
          <div class="p-4 content">
            <div class="mt-0">
                <h2>{{ object.title }} </h2>
            </div>
            <div class="lead">
              {% if item.description %}
              <h5>{{ object.description }}</h5>
              {% endif %}
              <h4>{{ item.instructions }}</h4>
            </div>
            <div class="container">
              {% if user.is_authenticated %}
              <form method="POST"action=".">{% csrf_token %}
                <input type="text"name="title"value="{{object.title}}"readonly><br>
                <input type="text"name="price"value="{{object.price}}"readonly><br>
                <label>Quantity</label>
                <span onclick="decreaseQuantity()" class="ml-2 quantityspan">
                  <i class="bx bx-minus-circle"></i>
                </span>
                  <input type="text"value="1"name="quantity"style="width:50px;"id="quantity"min="1" max="5">
                  <span onclick="increaseQuantity()"class="quantityspan">
                    <i class="bx bx-plus-circle"></i>
                  </span><br>
                    <button type="submit" onclick="myFunction()" class="btn orderbutton">Add to Cart <i class="fa-solid fa-arrow-right"></i></button>
              </form>
            {% else %}
            <form method="POST"action=".">{% csrf_token %}
              <input type="text"name="title"value="{{object.title}}"readonly><br>
              <input type="text"name="price"value="{{object.price}}"readonly><br>
              <label>Quantity</label>
              <span onclick="decreaseQuantity()" class="ml-2 quantityspan">
                <i class="bx bx-minus-circle"></i>
              </span>
              <input type="text"value="1"name="quantity"style="width:50px;"id="quantity"min="1" max="5">
              <span onclick="increaseQuantity()"class="quantityspan">
                <i class="bx bx-plus-circle"></i>
              </span><br>
            </form>
            <button  onclick="openForm()" type="submit" class="btn orderbutton">Add to Cart <i class="fa-solid fa-arrow-right"></i></button>
            <div id="cover">
              <div class="form-popup" id="myForm">
                <form method="POST" action="/accounts/login/" class="form-container">{% csrf_token %}
                  <h2 class="asklogin">Please Login to Continue</h2>
              
                  <label  class="asklogin"><b>Username</b></label>
                  <input type="text" name="username" placeholder="Username" required>
              
                  <label  class="asklogin"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="password" required>
              
                  <button type="submit" class="btn">Login</button>
                  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                  <p  class="asklogin">No, account? <a href="/accounts/signup ">SignUp Here</a></p>

                </form>
              </div>
  
            </div>
            
            <script>
            function openForm() {
              document.getElementById("cover").style.display = "flex";
            }
            
            function closeForm() {
              document.getElementById("cover").style.display = "none";
            }
            </script>
            

          {% endif %}
            </div>
            
            <script>
              function myFunction(){document.getElementById("cart-alert").style.display="block";}
            </script>
            <div id="cart-alert" class="alert alert-success mt-1" role="alert" style="display:none">Your Item has been added to cart!!</div>
           <hr><a style="color:inherit" href="/product/all/">Menu</a> |  <a style="color:inherit" href="/cart/">View Cart</a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </main>
  <div class="reviews content">
    <div class="container">
    <div class="row">
      <div class="col col-md-6" id="description">
       <p>{{object.description}}</p> 
      </div>  
      <div class="col-md-6"> 
        <span class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">   
          <h5>Reviews <i class="bi bi-caret-down-fill"></i></h5>
        </span>
        <div class="collapse navbar-collapse"id="navmenu">
          <p><a href="review">add review</a></p>
        {% if review %}
        {% for instance in review %}
        <div>
          <p>{{instance.review}} - <b>by {{instance.user}}</b></p><hr>
        </div>
       {% endfor %}
       {% else %}
       <p>No reviews for this product</p>
       {% endif %}
       </div>
      </div>  
            
    </div>

    </div>
</div>
{% endblock %}









