{% extends 'secondbase.html' %}
{% block content %}
<body id="body">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <h2>login to get started</h2><hr>
    <form method="POST">{% csrf_token %}
    {% if error %}
    <p style="color:red">{{error}}</p>
    {% endif %}
    <label>Username</label>
    <input type="text" name="username">
    <br>
    <label>Password</label>
    <input type="password" name="password">
    <br>
    <button class="btn btn-success w3-text-white" type="submit">LOGIN</button>  
    </form>


    <p>Don't have an account? <a href="/accounts/signup">SignUp Here</a></p>

    </div>
    <div class="col-3"></div>
  </div>
</body>
{% endblock %}
